{% extends 'base.html' %}
{% load static %} 
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% load bootstrap5 %}
  {% bootstrap_css %}
<!-- aquí va lo que se debe mostrar en el main del proto en aXD -->

<style>
    .backgroundStyle {
        background-color: #06262D;
        width: 98%;
        /* border: 1px;
        border-style: solid;
        border-color: #06262D; */
        padding: none;
        margin: none;
    }
    .divFiltros {
        height: 95px;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px;
        border-style: solid;
        border-color: whitesmoke;
        
    }
    .fontH1 {
        font-size: 30px;
        font-family: Arial;
        color: white;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .fontFilters {
        font-size: large;
        font-family: arial;
        color: white;

    }
    .dropdown {
        height: 25px;
        font-family: arial;
        font-size: 18px;
        background-color: white;
        color: black;
    }
    .divPacientes {
        height: 495px;
        margin-top: 7px;
        margin-bottom: 2px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px;  
        border-style: solid;
        border-color: whitesmoke;
        overflow-y: auto;
        display:flex;
        flex-wrap: wrap;
    }
    .divBotones {
        height: 80px;
        border: 1px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: auto;
    }
    .btnsBottom {
        height: 50px;
        width: 150px;
    }

    /* Float four columns side by side */
/* .column {
  float: left;
  width: 20%;
  padding: 0 10px;
} */

/* Remove extra left and right margins, due to padding */
/* .row {margin: 0 -5px;} */

/* Clear floats after the columns */
/* .row:after {
  display: table;
  clear: both;
} */

/* Responsive columns */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
} */

/* Style the counter cards */
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  height: 150px;
  width: 150px;
} */

</style>

<!-- este div es el fondo de la página -->
<body class="backgroundStyle">
    <!-- este div es el primer box donde están los filtros-->
    <div class="divFiltros">
        <h1 class="fontH1">Filtros</h1>
        <form class="fontFilters" style="margin-left: 40px; margin-bottom: 15px; margin-top: 5px;">
            <label for="pacienteName">Nombre:</label>
            <input type="text" id="pacienteName" name="pacienteName" style="width:200px;">

            <label for="pacienteRun" style="margin-left: 30px;">RUN:</label>
            <input type="text" id="pacienteRun" name="pacienteRun" >

            <label for="fechaFiltro" style="margin-left: 30px;">Fecha:</label>
            <input type="text" id="fechaFiltro" name="fechaFiltro">

            <label for="condicionEstandar" style="margin-left: 30px;">Condición Estandar:</label>
              <select class="dropdown" name="condicionEstandar" id="condicionEstandar">
                <option value="cond1">Condición 1</option>
                <option value="cond2">Condición 2</option>
                <option value="cond3">Condición 3</option>
              </select>
        </form>
    </div>

    <!-- este div es el que contiene las carpetas por paciente -->
    <div class="divPacientes">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap">

        {% comment %} {% for card in cards %} {% endcomment %}
        {#  Single Card Template:#}
        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        <div class="card" style="width: 10rem; height: 10rem; margin: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Paciente 1</h5>
            <a href="#" class="btn btn-primary">Abrir</a>
          </div>
        </div>

        
       {% comment %} {% endfor %} {% endcomment %}
          </div>
      </div>
    </div>

    <!-- este div es el que contiene los botones de cerrar sesión, cargar y dashboard-->
    <div class="divBotones ">
        <button class="btnsBottom btn btn-danger" href="/templates/registration/login.html" 
                style="float:left; 
                margin-top: 10px;">
          
                Cerrar Sesión
              </button>
        <div style="float:right;">
            <button class="btnsBottom btn btn-primary"
                  type="button" 
                    style="margin-top: 10px; 
                          margin-left: 20px;"
                          data-bs-toggle="modal" 
                          data-bs-target="#exampleModal">
                        
                          Cargar
             </button>

            
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">Password</label>
                        </div>
                        <div class="col-auto">
                          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <button class="btnsBottom btn btn-primary" 
                    style="margin-top: 10px; 
                          margin-left: 20px;">
                          Dashboard
              </button>
    </div>

    

</body>


{% else %}

<!-- CAMBIAR ESTO A QUE EL DEFAULT DEL IF SEA EL LOGIN COMO TAL Y NO UN AVISO PARA REDIRECT-->
<style>
  .loginDiv {
    margin: auto;
    max-width: max-content;
  }
  .titulo {
    font-size: large;
    align-items: center;
  }
    .botong {
      background-color: blue;
      align-items: center;
      border: none;
      color: white;
      height: 20px;
      width: 80px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      align-items: center;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
  }
  </style>

  <div class="loginDiv">
    <p class="titulo">You are not logged in</p>
    <a class="botong" href="{% url 'login' %}">Log In</a>
  </div>
  

{% endif %}
{% endblock %}